RewriteEngine On        
  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  #RewriteCond %{SERVER_PORT} 80 
  #RewriteRule ^(.*)$ http://157.245.111.92/$1 [R,L]
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist the serve index.html
  RewriteRule ^ ./index.html